.underline {
    text-decoration: underline;
}

h1 {
    border-bottom: 3px solid black;
}

ol {
    width: fit-content;
    padding-right: 20px;
    background-color: lightyellow; 
    border: 3px inset rgb(150, 150, 138);
    border-radius: 5px;
}

figcaption {
    font-weight: bold;
}